.root {
  max-width: 100%;
  margin: auto;
  padding-top: 40px;
  background-color: #f8fbfc;
  height: 1000px;
}

.add-todo {
  margin-bottom: 40px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

h1 {
  text-align: center;
}

.search-form {
  width: 34%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  background-color: white;
}

.button-form {
  border-radius: 10px;
  width: 100px;
  background-color: #1877f2;
}
.button-form-delete {
  border-radius: 10px;
  width: 100px;
  background-color: red;
}

hr {
  margin-bottom: 15px;
  width: 51vw;
}

.all-active-complete {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 360px;
}